/* Reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* 1. Làm từ ngoài vào trong (main -> header -> footer)
2. Từ trên xuống dưới
3. Tổng quan */

/* 1. Vị trí
    2. Kích thước
    3. Màu sắc
    4.Kiểu dáng */

#main {
}

#header {
  height: 65px;
  background-color: #040b26;
}

#nav {
}

#nav #subnav {
  position: absolute;
  background-color: #040b26;
}

#nav #subnav a {
  background-color: #040b26;
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 0 20px;
  line-height: 65px;
  display: inline-block;
}

#nav > li:hover > a {
  color: #01d6fe;
  background-color: #282f3f;
}

#subnav {
}

#slider {
  min-height: 500px;
  background-color: #333;
}

#content {
}

#footer {
}
