/* Reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

/* 1. Làm từ ngoài vào trong (main -> header -> footer)
2. Từ trên xuống dưới
3. Tổng quan */

/* 1. Vị trí
    2. Kích thước
    3. Màu sắc
    4.Kiểu dáng */

#main {
}

#header {
  position: fixed;
  height: 65px;
  background-color: #040b26;
  top: 0;
  left: 0;
  right: 0;
}

#nav {
  /* Làm phần navigation ko chiếm hết phần header */
  display: inline-block;
}

#nav .subnav {
  position: absolute;
  min-width: 150px;
  top: 100%;
  left: 0;
  background-color: #040b26;
  list-style-type: none;
  display: none;
}

#nav .subnav li:hover {
  color: #01d6fe;
  background-color: #282f3f;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  padding: 0 20px;
  line-height: 65px;
  display: inline-block;
}

#nav > li > a {
  text-transform: uppercase;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  color: #01d6fe;
  background-color: #282f3f;
}

#nav .subnav a {
  padding: 0 12px;
}

.subnav li {
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#nav .nav-arrow-down {
  font-size: 12px;
}

#header .account-btn {
  /* Làm icon sao cho vào bên phải của header và tăng kích thước = padding */
  float: right;
  padding: 0 24px;
}

#header .account-btn:hover {
  background-color: #282f3f;
  cursor: pointer;
}

#header .account-icon {
  /* Căn giữa = lineheight */
  line-height: 65px;
  color: #fff;
  font-size: 30px;
}

#slider {
  margin-top: 65px;
}

#content {
}

#footer {
}
